<ng-container>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" opened>
      <div class="logo">
        <img src="/assets/images/logo.svg" />
      </div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/functions']">{{ 'functions.list' | translate }}</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/statemachineinstances']">{{ 'stateMachineInstance.list' | translate }}</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/statemachines']">{{ 'stateMachines.list' | translate }}</a>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-container>
