<ng-container>
  <mat-toolbar>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    FaasNet
    <span class="spacer"></span>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" opened>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/functions']">{{ 'functions.list' | translate }}</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/statemachines/name']">{{ 'statemachines.list' | translate }}</a>
      </mat-nav-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-container>
