<ng-container>
  <mat-drawer-container class="drawer-container">
    <mat-drawer #drawer mode="side" opened>
      <div class="logo">
        <img src="/assets/images/logo.svg" />
      </div>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/functions']" [routerLinkActive]="['is-active']">{{ 'functions.list' | translate }}</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/statemachineinstances']" [routerLinkActive]="['is-active']">{{ 'stateMachineInstance.list' | translate }}</a>
      </mat-nav-list>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/statemachines']" [routerLinkActive]="['is-active']">{{ 'stateMachines.list' | translate }}</a>
      </mat-nav-list>
      <!--
      <mat-nav-list>
        
      </mat-nav-list>
      -->
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</ng-container>
