<h1 mat-dialog-title>{{ 'functions.add' | translate }}</h1>
<form [formGroup]="addFunctionFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <!-- Name -->
    <div class="form-control">
      <div class="title">{{ 'functions.name' | translate }}</div>
      <input type="text" formControlName="name" class="full-width" />
      <mat-error *ngIf="addFunctionFormGroup.get('name')?.hasError('required')">
        {{ 'functions.nameRequired' | translate }}
      </mat-error>
    </div>
    <mat-divider></mat-divider>
    <!-- Description -->
    <div class="form-control">
      <div class="title">{{ 'functions.description' | translate }}</div>
      <textarea formControlName="description" class="full-width"></textarea>
    </div>
    <mat-divider></mat-divider>
    <!-- Image -->
    <div class="form-control">
      <div class="title">{{ 'functions.image' | translate }}</div>
      <input type="text" class="full-width" formControlName="image" />
      <mat-error *ngIf="addFunctionFormGroup.get('image')?.hasError('required')">
        {{ 'functions.imageRequired' | translate }}
      </mat-error>
    </div>
    <mat-divider></mat-divider>
    <!-- Version -->
    <div class="form-control">
      <div class="title">{{ 'functions.version' | translate }}</div>
      <input type="text" class="full-width" formControlName="version" />
      <mat-error *ngIf="addFunctionFormGroup.get('version')?.hasError('required')">
        {{ 'functions.versionRequired' | translate }}
      </mat-error>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!addFunctionFormGroup.valid">{{ 'shared.create' | translate }}</button>
    <button mat-stroked-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
