@inherits LayoutComponentBase
@layout MainLayout
@using FaasNet.EventMesh.UI.Shared.Components

<Section>
    <Title>        
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <NavLink href="/vpns">Vpns</NavLink>
                </li>
                <li class="breadcrumb-item">
                    <NavLink href="@("/vpns/" + Vpn + "/applicationdomains")">@Vpn</NavLink>
                </li>
                <li class="breadcrumb-item">
                    @ApplicationDomain
                </li>
            </ol>
        </nav>
    </Title>
    <ChildContent>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <NavLink class="nav-link" href="@($"/vpns/{Vpn}/applicationdomains/{ApplicationDomain}/editor")">Editor</NavLink>
            </li>
        </ul>
        <div id="vpnContent">
            @Body
        </div>
    </ChildContent>
</Section>

@code {
    public string Vpn { get; set; }
    public string ApplicationDomain { get; set; }

    protected override void OnParametersSet()
    {
        object clientId, vpn, applicationDomain;
        if((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("vpn", out vpn) == true)
            Vpn = vpn?.ToString();
        if ((this.Body.Target as RouteView)?.RouteData.RouteValues?.TryGetValue("applicationDomain", out applicationDomain) == true)
            ApplicationDomain = applicationDomain?.ToString();
    }
}
