<h2 class="state-title">Switch State</h2>
<form [formGroup]="updateSwitchFormGroup" class="form">
  <!-- Name -->
  <div class="form-control">
    <div class="title">Name</div>
    <p class="description">State name</p>
    <input type="text" formControlName="name" class="full-width" />
  </div>
  <mat-divider></mat-divider>
  <!-- Type -->
  <div class="form-control">
    <div class="title">Type</div>
    <p class="description">Type of switch</p>
    <select formControlName="type" class="full-width">
      <option value="data">Data Conditions</option>
      <option value="event">Event Conditions</option>
    </select>
  </div>
  <mat-divider></mat-divider>
</form>
