<h1 mat-dialog-title>{{ 'apis.edit.addFunction' | translate }}</h1>
<form>
  <div mat-dialog-content>
    <mat-table class="full-width" [dataSource]="functions" matSortActive="createDateTime" matSortDirection="desc" matSort>
      <!-- Action -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let function">
          <mat-checkbox (change)="toggle(function)" [checked]="function.isSelected"></mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ "functions.name" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let function">
          {{ function.name }}
        </mat-cell>
      </ng-container>
      <!-- Image -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef>{{ "functions.image" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let function">
          {{ function.image }}
        </mat-cell>
      </ng-container>
      <!-- Create DateTime -->
      <ng-container matColumnDef="createDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "functions.createDateTime" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let function">
          {{ function.createDateTime | date:'fullDate' }}
        </mat-cell>
      </ng-container>
      <!-- Update DateTime -->
      <ng-container matColumnDef="updateDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "functions.updateDateTime" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let function">
          {{ function.updateDateTime | date:'fullDate' }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" (click)="save()" [disabled]="!isFunctionSelected()">{{ 'shared.choose' | translate }}</button>
    <button mat-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
