<mat-tab-group>
  <mat-tab label="{{ 'apis.edit.panels.function.info' | translate }}">
    <div class="tab-container">
      <button mat-raised-button (click)="chooseFunction()">{{ 'apis.edit.panels.function.selectFunction' | translate }}</button>
      <div *ngIf="isSelected()" class="mt-10">
        <!-- Name -->
        <div fxLayout="row">
          <div fxFlex="20%">
            <b>{{ 'apis.edit.panels.function.name' | translate }}</b>
          </div>
          <div fxFlex="80%">
            <a href="#" [routerLink]="['/functions/' + model?.content?.info?.name]">{{ model?.content?.info?.name }}</a>
          </div>
        </div>
        <!-- Image -->
        <div fxLayout="row">
          <div fxFlex="20%">
            <b>{{ 'apis.edit.panels.function.image' | translate }}</b>
          </div>
          <div fxFlex="80%">
            {{ model?.content?.info?.image }}
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="{{ 'apis.edit.panels.function.configuration' | translate }}" [disabled]="!isSelected()">
    <div class="tab-container">
      <button mat-raised-button (click)="updateConfiguration()">{{ 'apis.edit.panels.function.updateConfiguration' | translate }}</button>
    </div>
  </mat-tab>
</mat-tab-group>
