$descriptionColor: rgb(127, 133, 140);
$background: whitesmoke;

html, body {
  height: 100%;
  font-family: "Heebo",sans-serif;
}

body, h1 {
  margin: 0;
}

a.is-active {
  background-color: #eaeaea;
}

/* Common */
.container {
  padding: 10px 10px 0px 10px;
}

.container, .center {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

/* Actions */
.actions {
  display: flex;
}


/* Breadcrumb */
.actions, .breadcrumb {
  padding: 10px 0px 10px 20px;
  background-color: white;
}

.breadcrumb {
  border-bottom: 1px solid #eff3f5;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb ul .separator {
  padding-right: .75rem;
  padding-left: .75rem;
}

.breadcrumb ul li {
  display: inline-block;
  font-size: .8em;
}

/* Actions */

/* Alert */
.alert {
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  margin-bottom: 20px;
}

.alert.alert-danger {
  color: #721c24;
  background-color: #f17b7b;
  border-color: #f17b7b;
}

.alert.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}


/* Panel Content */
.panel-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.panel-content .body {
  flex: auto;
}

.panel-content > .actions {
  border-top: 1px solid #d6d2d2;
  height: 60px;
  padding-top: 5px;
}

.panel-content > .actions button {
  float: right;
}

.form {
  position: relative;
}

.form-control {
  padding: 10px 10px 5px 10px;
  position: relative;

  .title {
    font-weight: bold;
  }

  .description {
    color: $descriptionColor;
    font-size: 0.7em;
    font-weight: bold;
  }

  textarea, input, select {
    border: 1px solid #c1c1c1;
  }

  input:not([type=checkbox]), select {
    height: 30px;
  }

  input:read-only {
    color: $descriptionColor;
    background-color: $background;
  }

  textarea {
    min-height: 50px;
    resize: vertical;
  }

  .condition {
    cursor: pointer;
  }
}
