html, body {
  height: 100%;
}


body, h1 {
  margin: 0;
}

/* Common */
.container {
  max-width: 1000px;
  height: 100%;
}

.container, .center {
  margin-left: auto;
  margin-right: auto;
}

.spacer {
  flex: 1 1 auto;
}

.full-width {
  width: 100%;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

/* Breadcrumb */
.breadcrumb {
  padding: 20px 0px 20px 0px;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumb ul .separator {
  padding-right: .75rem;
  padding-left: .75rem;
}

.breadcrumb ul li {
  display: inline-block;
}

/* Alert */
.alert {
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  margin-bottom: 20px;
}

.alert.alert-danger {
  color: #721c24;
  background-color: #f17b7b;
  border-color: #f17b7b;
}

.alert.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert.alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}
