ul.navigation {
  margin: 0;
  padding: 0;
}

ul.navigation a:visited, ul.navigation a {
  color: black;
}

ul.navigation > li {
  display: inline-block;
}

ul.navigation a > mat-icon {
  padding: 10px;
}

ul.navigation a.is-active > mat-icon {
  background-color: #e4e4e4;
  border-radius: 5px;
}
