html, body {
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.blue {
    --header-bg-color: #0d47a1;
    --header-font-color: white;
    --footer-bg-color: #f4f4f4;
    --h2-border-color: #a2b4d1;
    --main-space: 10px;
    --active-link-fg-color: white;
    --loader-bg-color: #39393933;
}

#navHeader .active {
    color: var(--active-link-fg-color) !important;
}