<h1 mat-dialog-title>{{ 'vpn.addMessage' | translate }}</h1>
<form [formGroup]="addMessageDefFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex="50%">
        <!-- Name -->
        <div class="form-control">
          <div class="title">{{ 'vpn.name' | translate }}</div>
          <input formControlName="name" class="full-width" [readonly]="isEditable" />
          <mat-error *ngIf="addMessageDefFormGroup.get('name')?.hasError('required')">
            {{ 'vpn.validations.nameRequired' | translate }}
          </mat-error>
        </div>
        <mat-divider></mat-divider>
        <!-- Description -->
        <div class="form-control">
          <div class="title">{{ 'vpn.description' | translate }}</div>
          <textarea formControlName="description" class="full-width"></textarea>
          <mat-error *ngIf="addMessageDefFormGroup.get('description')?.hasError('required')">
            {{ 'vpn.validations.descriptionRequired' | translate }}
          </mat-error>
        </div>
        <mat-divider></mat-divider>
        <!-- Message Json Schema -->
        <div class="form-control">
          <div class="title">{{ 'vpn.messageJsonSchema' | translate }}</div>
          <ngx-monaco-editor [options]="messageJsonOptions" formControlName="messageJsonSchema"></ngx-monaco-editor>
        </div>
        <div class="alert alert-warning">
          {{ 'vpn.jsonSchemaInfo' | translate }}
        </div>
      </div>
      <div fxFlex="50%">
        <!-- Message Json Schema -->
        <div class="form-control">
          <div class="title">{{ 'vpn.jsonSchema' | translate }}</div>
          <ngx-monaco-editor [options]="jsonOptions" formControlName="jsonSchema"></ngx-monaco-editor>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!this.addMessageDefFormGroup.valid">{{ 'shared.save' | translate }}</button>
    <button mat-stroked-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
