<ul class="breadcrumb">
    @foreach(var item in Items)
    {
        <li class="breadcrumb-item">@item.Text</li>
    }
</ul>

@code {
    [Parameter]
    public ICollection<BreadcrumbItem> Items { get; set; }
}
