<h2 class="state-title">
  Inject State
  <span (click)="close()">
    <mat-icon>close</mat-icon>
  </span>
</h2>
<div class="form">
  <!-- Name -->
  <div class="form-control">
    <div class="title">Name</div>
    <p class="description">State name</p>
    <input type="text" [formControl]="nameFormControl" class="full-width" />
  </div>
  <mat-divider></mat-divider>
  <!-- End -->
  <div class="form-control">
    <div class="title">End</div>
    <p class="description">If this state and end state</p>
    <select class="full-width" disabled [ngModel]="end">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>
  <mat-divider></mat-divider>
  <!-- Input  -->
  <div class="form-control">
    <div class="title">Input State Data Filter</div>
    <p class="description">Workflow expression to filter the states data input</p>
    <input (click)="editInputStateDataFilter()" [(ngModel)]="inputStateDataFilter" type="text" class="condition full-width" readonly />
  </div>
  <mat-divider></mat-divider>
  <!-- Output -->
  <div class="form-control">
    <div class="title">Output State Data Filter</div>
    <p class="description">Workflow expression that filters the states data output</p>
    <input (click)="editOutputStateDataFilter()" [(ngModel)]="outputStateDataFilter" type="text" class="condition full-width" readonly />
  </div>
  <mat-divider></mat-divider>
  <!-- Data -->
  <div class="form-control">
    <div class="title">Data</div>
    <p class="description">JSON object which can be set as state's data input and can be manipulated via filter</p>
    <ngx-monaco-editor [options]="jsonOptions" [(ngModel)]="data"></ngx-monaco-editor>
  </div>
  <mat-divider></mat-divider>
</div>
