#clientInfo {
    padding: 10px;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.modal-body {
    padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * .5);
}