@page "/vpns"
@using FaasNet.EventMesh.Client.Messages
@using FaasNet.EventMesh.Client.StateMachines
@using FaasNet.EventMesh.Client.StateMachines.Client

@inject EventMeshNodeViewModel EventMeshNodeViewModel

<PageTitle>Vpns</PageTitle>

<Section Title="Vpns">
    <ChildContent>
		<button class="btn btn-primary mb-2" @onclick="AddVpn">Add VPN</button>
		<Grid TRowData="VpnResult" Items="EventMeshNodeViewModel.Vpns">
            <GridColumn TRowData="VpnResult" Expression="c => c.Id" Title="Identifier" />
            <GridColumn TRowData="VpnResult" Expression="c => c.Description" Title="Description" />
			<GridColumn TRowData="VpnResult" Expression="c => c.CreateDateTime.ToString()" Title="Creation Datetime" />
        </Grid>
    </ChildContent>
</Section>

<Modal Title="Add VPN" @ref=addVpnModal>
	<Body>
		<form>
			<!-- Name -->
			<div class="mb-3">
				<label class="form-label">Name</label>
				<input type="text" class="form-control" />
			</div>
			<!-- Description -->
			<div class="mb-3">
				<label class="form-label">Description</label>
				<textarea class="form-control"></textarea>
			</div>
		</form>
	</Body>
	<Footer></Footer>
</Modal>

@code {
	private Modal addVpnModal { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		if (EventMeshNodeViewModel.IsRunning) await RefreshVpns();
		EventMeshNodeViewModel.StatusChanged += async (o, e) => await RefreshVpns();
		EventMeshNodeViewModel.SelectedNodeChanged += async (o, e) => await HandleSelectedNodeChanged();
	}

	private async Task RefreshVpns()
	{
		if (!EventMeshNodeViewModel.IsRunning) EventMeshNodeViewModel.ResetVpns();
		else await EventMeshNodeViewModel.RefreshVpns();
		await InvokeAsync(() => StateHasChanged());
	}

	private async Task HandleSelectedNodeChanged()
	{
		EventMeshNodeViewModel.ResetVpns();
		await RefreshVpns();
	}

	private void AddVpn() {
		addVpnModal.Open();
	}
}