@page "/bridges"
@inject BreadcrumbState ServerState
@inject IBridgeServerStore BridgeServerStore

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Urn</th>
                    <th>Port</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var bridgeServer in BridgeServers)
                {
                    <tr>
                        <td>@bridgeServer.Urn</td>
                        <td>@bridgeServer.Port</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {      
    public IEnumerable<BridgeServer> BridgeServers { get; set; } = new List<BridgeServer>();

    protected override Task OnInitializedAsync()
    {
        ServerState.SetItems(new List<BreadcrumbItem> { new BreadcrumbItem("Bridges") });
        BridgeServers = BridgeServerStore.GetAll();
        return Task.CompletedTask;
    }
}