.drawer-container {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.logo {
  text-align: center;
}

.logo > img {
  width: 100px;
}

.mat-drawer {
  width: 250px;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}

.menu-button.rotated {
  transform: rotate(180deg);
}

.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  display: none;
}


.submenu.expanded {
  transform: scaleY(1);
  display: block;
}
