.drawer-container {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.logo {
  text-align: center;
}

.logo > img {
  width: 100px;
}

.mat-drawer {
  width: 250px;
}
