<h2 class="state-title">
  Switch State
  <span (click)="close()">
    <mat-icon>close</mat-icon>
  </span>
</h2>
<form [formGroup]="updateSwitchFormGroup" class="form">
  <!-- Name -->
  <div class="form-control">
    <div class="title">Name</div>
    <p class="description">State name</p>
    <input type="text" formControlName="name" class="full-width" />
  </div>
  <mat-divider></mat-divider>
  <!-- End -->
  <div class="form-control">
    <div class="title">End</div>
    <p class="description">If this state and end state</p>
    <select class="full-width" formControlName="end">
      <option value="true">True</option>
      <option value="false">False</option>
    </select>
  </div>
  <mat-divider></mat-divider>
  <!-- Type -->
  <div class="form-control">
    <div class="title">Type</div>
    <p class="description">Type of switch</p>
    <select formControlName="type" class="full-width">
      <option value="data">Data Conditions</option>
      <option value="event">Event Conditions</option>
    </select>
  </div>
  <mat-divider></mat-divider>
  <!-- Input  -->
  <div class="form-control">
    <div class="title">Input State Data Filter</div>
    <p class="description">Workflow expression to filter the states data input</p>
    <input formControlName="inputStateDataFilter" (click)="editInputStateDataFilter()" type="text" class="condition full-width" readonly />
  </div>
  <mat-divider></mat-divider>
  <!-- Output -->
  <div class="form-control">
    <div class="title">Output State Data Filter</div>
    <p class="description">Workflow expression that filters the states data output</p>
    <input formControlName="outputStateDataFilter" (click)="editOutputStateDataFilter()" type="text" class="condition full-width" readonly />
  </div>
  <mat-divider></mat-divider>
</form>
