#asyncApiContainer {
    position: relative;
    height: 600px;
}

#asyncApiContainer #toolbox {
    top: 10px;
    left: 10px;
    height: 30px;
}

#asyncApiContainer #toolbox ul {
    margin: 0px;
    padding-left: 5px;
}

#asyncApiContainer #toolbox ul li {
    display: inline-block;
    line-height: 30px;
    padding-right: 5px;
    cursor: pointer;
}

#asyncApiContainer #elements {
    top: 50px;
    left: 10px;
    padding: 5px 5px 0px 5px;
}

#asyncApiContainer #elements .element {
    border: 1px solid red;
    margin-bottom: 5px;
}

#asyncApiContainer #toolbox, #asyncApiContainer #elements {
    position: absolute;
    background-color: #FAFAFA;
    border: solid 1px #CCC;
    border-radius: 2px;
}

#asyncApiContainer #editor {
    width: 100%;
    height: 100%;
    touch-action: none;
}

#asyncApiContainer .element {
    width: 100px;
    height: 50px;
    cursor: move;
}

/* Application */
#asyncApiContainer .application {    
    cursor: move;
    padding: 10px;
}

#asyncApiContainer .application.moving {
    opacity: 0.5;
}

#asyncApiContainer .application .appContainer {
    position: relative;
    border: 1px solid transparent;
}

#asyncApiContainer .application.selected .appContainer {
    border: 1px dashed black;
}

#asyncApiContainer .application.selected .appContainer .anchor {
    display: block !important;
}

#asyncApiContainer .application .appContainer .anchor {
    background-color: red;
    width: 10px;
    height: 10px;
    z-index: 10;
    cursor: pointer;
    position: absolute;
    display: none;
}

#asyncApiContainer .application .appContainer .anchor {
    display: none;
}

#asyncApiContainer .application .appContainer .anchor.r,
#asyncApiContainer .application .appContainer .anchor.l {
    top: 45%;
}

#asyncApiContainer .application .appContainer .anchor.t,
#asyncApiContainer .application .appContainer .anchor.b {
    left: 45%;
}

#asyncApiContainer .application .appContainer .anchor.r {
    right: 0px;
}

#asyncApiContainer .application .appContainer .anchor.b {
    bottom: 0px;
}

#asyncApiContainer .application .appContainer ul.actions {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

#asyncApiContainer .application.selected .appContainer ul.actions {
    display: block;
}

#asyncApiContainer .application .appContainer ul.actions {
    display: none;
}

#asyncApiContainer .application .appContainer ul.actions > li {
    display: inline-block;
    padding: 2px;
}

#asyncApiContainer .application .appContainer .actions li > i {
    cursor: pointer;
    height: 16px;
    font-size: 16px;
}

#asyncApiContainer .application .appContainer .content {
    border: 1px solid #b6b6bb;
    border-radius: 5px;
    background-color: #ebebef;
    position: absolute;
    top:10px;
    right: 30px;
    left: 10px;
    bottom: 10px;
}

#asyncApiContainer .application .appContainer .content .header {
    border-bottom: 1px solid #b6b6bb;
    text-align: center;
    user-select: none;
    cursor: default !important;
}

#asyncApiContainer svg.moving {
    cursor: move;
}