#navHeader {
    background-color: var(--header-bg-color) !important;
    color: var(--header-font-color) !important;
    box-shadow: 0 1px 2px 0 rgba(61, 65, 68, 0.06), 0 1px 3px 1px rgba(61, 65, 68, 0.16);
}

#navHeader a {
    color: var(--header-font-color) !important;
}

#selectNode > div:first-child {
    padding: 8px 5px 0px 0px;
}