.loaderContainer {
    position: relative;
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    background-color: var(--loader-bg-color);
}

.loader.hidden {
    display: none;
}

.loaderMessage {
    background-color: white;
    position: absolute;
    padding: 10px;
    width: 100px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}