@inherits LayoutComponentBase

<div class="container-fluid vh-100 d-flex flex-column no-padding no-margin blue">
    <Header />
    <div class="flex-grow-1" id="main">
        @Body
    </div>
    <Footer />
</div>