@using FaasNet.EventMesh.UI.Shared.Components
@using FaasNet.EventMesh.UI.Stores.App
@using FaasNet.EventMesh.UI.Stores.Client
@using Fluxor
@using System.Timers
@inherits LayoutComponentBase

<Toast></Toast>
<div class="container-fluid vh-100 d-flex flex-column no-padding no-margin blue">
    <Header />
    <div class="flex-grow-1" id="main">
        @Body
    </div>
    <Footer />
</div>