.properties {
    position: absolute;
    background-color: #FAFAFA;
    border: solid 1px #CCC !important;
    border-radius: 2px;
    top: 1%;
    left: 70%;
    right: 1%;
    bottom: 1%;
    transition: all 0.5s ease;
    overflow: hidden;
}

.properties.maximise {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.properties .header {
    position: relative;
    padding: 0px 0px 2px 5px;
    background-color: #e9ecef;
}

.properties .header .actions {
    position: absolute;
    top: 2px;
    right: 5px;
}

.properties .header .actions i {
    cursor: pointer;
}

.properties .body {
    padding: 0px 5px 5px 5px;
}
