.breadcrumb {
    background-color: transparent !important;
    padding: 0.75rem 1rem !important;
    border-radius: unset !important;
    margin-bottom: 0 !important;
    border-bottom: 1px solid #eff3f5;
}

.breadcrumb .breadcrumb-item {
    font-size: 0.8em !important;
}
