@inherits LayoutComponentBase
@layout MainLayout

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">
            <NavLink class="nav-link" href="/">Status</NavLink>
            <NavLink class="nav-link" href="/clients">Clients</NavLink>
        </ul>
        @Body
    </div>
</div>