<div class="breadcrumb">
  <ul>
    <li>{{ "logging.title" | translate }}</li>
    <li class="separator">\</li>
    <li>{{ "logging.eventmesh" | translate }}</li>
  </ul>
</div>
<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-tab-group animationDuration="0ms">
        <!-- Dashboard -->
        <mat-tab [label]="'logging.dashboard' | translate">
          <div>
            <b>URL</b> : <a [href]="eventMeshDashboardUrl | safe" target="_blank">{{ eventMeshDashboardUrl }}</a>
          </div>
          <iframe [src]="eventMeshDashboardUrl | safe" class="kibana-frame"></iframe>
        </mat-tab>
        <!-- Logs -->
        <mat-tab [label]="'logging.logs' | translate">
          <div>
            <b>URL</b> : <a [href]="eventMeshLogsUrl | safe" target="_blank">{{ eventMeshLogsUrl }}</a>
          </div>
          <iframe [src]="eventMeshLogsUrl | safe" class="kibana-frame"></iframe>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
