<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="">
        <!-- Name -->
        <div class="form-control">
          <div class="title">Name</div>
          <div class="description">Name</div>
          <input type="text" formControlName="name" class="full-width" />
        </div>
        <mat-divider></mat-divider>
        <!-- Description -->
        <div class="form-control">
          <div class="title">Description</div>
          <div class="description">Description</div>
          <textarea class="full-width" formControlName="description"></textarea>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>
