<!-- Name -->
<div class="form-control">
  <div class="title">{{ 'functions.name' | translate }}</div>
  <input type="text" [value]="function?.name" disabled class="full-width" />
</div>
<mat-divider></mat-divider>
<!-- Image -->
<div class="form-control">
  <div class="title">{{ 'functions.image' | translate }}</div>
  <input type="text" [value]="function?.image" disabled class="full-width" />
</div>
<mat-divider></mat-divider>
<!-- CreateDateTime -->
<div class="form-control">
  <div class="title">{{ 'functions.createDateTime' | translate }}</div>
  <input type="text" [value]="function?.createDateTime | date:'short'" disabled class="full-width" />
</div>
<mat-divider></mat-divider>
<!-- UpdateDateTime -->
<div class="form-control">
  <div class="title">{{ 'functions.updateDateTime' | translate }}</div>
  <input type="text" [value]="function?.updateDateTime | date:'short'" disabled class="full-width" />
</div>
<div class="alert alert-danger" fxLayout="row">
  <div fxFlex="90%">
    <b>{{ 'functions.deleteTitle' | translate }}</b>
  </div>
  <div>
    <button mat-raised-button color="warn" (click)="delete()">{{ 'functions.delete' | translate }}</button>
  </div>
</div>
