<mat-card class="mt-10">
  <mat-card-content>
    <button mat-raised-button color="primary" (click)="addOperation()">{{ 'apis.addOperation' | translate }}</button>
    <div class="mt-10">
      <mat-table class="full-width" [dataSource]="operations" matSortActive="createDateTime" matSortDirection="desc" matSort>
        <!-- Name -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>{{ "apis.name" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let operation">
            <a href="#" [routerLink]="['/apis/' + name + '/operations/' + operation.name]">{{ operation.name }}</a>
          </mat-cell>
        </ng-container>
        <!-- Path -->
        <ng-container matColumnDef="path">
          <mat-header-cell *matHeaderCellDef>{{ "apis.path" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let operation">
            {{ operation.path }}
          </mat-cell>
        </ng-container>
        <!-- Create DateTime -->
        <ng-container matColumnDef="createDateTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "apis.createDateTime" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let operation">
            {{ operation.createDateTime | date:'fullDate' }}
          </mat-cell>
        </ng-container>
        <!-- Update DateTime -->
        <ng-container matColumnDef="updateDateTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header>{{ "apis.updateDateTime" | translate }}</mat-header-cell>
          <mat-cell *matCellDef="let operation">
            {{ operation.updateDateTime | date:'fullDate' }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="length" [pageSize]="50" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    </div>

  </mat-card-content>
</mat-card>
