<div class="logo">
    <a herf="#">
        <img class="navbar-brand" src="images/logo.svg" />
    </a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/status">
                <div>
                    <span class="oi oi-home" aria-hidden="true"></span> Status
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/clients">
                <div>
                    <span class="oi oi-person" aria-hidden="true"></span> Clients
                </div>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/brokers">
                <div>
                    <span class="oi oi-envelope-closed" aria-hidden="true"></span> Brokers
                </div>
            </NavLink>
        </li>
    </ul>
</div>