<div class="logo">
    <a herf="#">
        <img class="navbar-brand" src="images/logo.svg" />
    </a>
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/server/status">
                <div>
                    <span class="oi oi-home" aria-hidden="true"></span> Server
                </div>
            </NavLink>
        </li>
    </ul>
</div>