@inherits LayoutComponentBase
@layout MainLayout

<div class="card">
    <div class="card-body">
        <ul class="nav nav-tabs">
            <NavLink class="nav-link" href="/server/status">Status</NavLink>
        </ul>
        @Body
    </div>
</div>