<div class="container">
  <mat-card>
    <mat-card-content>
      <mat-table class="full-width" [dataSource]="evts">
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let evt; let i = index;">
            <button mat-icon-button (click)="editEvent(evt, i)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>
            {{ "stateMachines.evtName" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let evt;">
            {{ evt.name }}
          </mat-cell>
        </ng-container>
        <!-- Type -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>
            {{ "stateMachines.evtType" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let evt">
            {{ evt.type }}
          </mat-cell>
        </ng-container>
        <!-- Source -->
        <ng-container matColumnDef="source">
          <mat-header-cell *matHeaderCellDef>
            {{ "stateMachines.evtSource" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let evt">
            <a [routerLink]="['/vpns/' + vpn + '/appdomains/' + applicationDomainId + '/messages']">{{ evt.source }}</a>
          </mat-cell>
        </ng-container>
        <!-- Kind -->
        <ng-container matColumnDef="kind">
          <mat-header-cell *matHeaderCellDef>
            {{ "stateMachines.evtKind" | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let evt">
            {{ evt.kind }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
