.actions {
  display: flex;
  height: 70px;
  border-bottom: 1px solid #E8E8EF;
}

.actions > .breadcrumb {
  padding-left: 5px;
}

.actions > .buttons {
  padding: 20px 5px 20px 0px;
}

.leftcard {
  width: 200px;
  position: absolute;
  border-right: 1px solid #E8E8EF;
}

.rightcard {
  position: absolute;
  right: -300px;
  width: 300px;
  border-left: 1px solid #E8E8EF;
  z-index: 2;
  opacity: 0;
  display: none;
  height: calc(100% - 80px);
  background-color: white;
  padding-left: 10px;
}

.rightcard.expanded {
  opacity: 1 !important;
  right: 0 !important;
  display: block;
}

.rightcard .close {
  position: absolute;
  top: 0;
  right: 0;
}

#canvas {
  background-image: url('/assets/images/tile.png');
  background-repeat: repeat;
  background-size: 30px 30px;
  position: absolute;
  width: calc(100% - 200px);
  overflow: auto;
  left: 200px;
}

#canvas, .leftcard {
  height: calc(100% - 80px);
}

.block .title {
  border-bottom: 1px solid #E8E8EF;
}

.blockelem .title {
  font-weight: bold;
}

.blockelem .description {
  font-style: italic;
}

.blockelem.selectedblock {
  border: 2px solid #217CE8;
}
