<h1 mat-dialog-title>{{ 'apis.edit.launchFunction' | translate }}</h1>
<form [formGroup]="launchFunctionFormGroup" (ngSubmit)="launch()">
  <div mat-dialog-content>
    <label>{{ 'apis.edit.input' | translate }}</label>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label></mat-label>
      <textarea matInput formControlName="input"></textarea>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="mt-20">
      <label>{{ 'apis.edit.output' | translate }}</label>
      <mat-form-field appearance="outline" class="full-width">
        <textarea matInput disabled>{{ result | json }}</textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary"[disabled]="!launchFunctionFormGroup.valid">{{ 'shared.launch' | translate }}</button>
    <button mat-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
