@page "/clients"
@inject BreadcrumbState ServerState
@inject IClientStore ClientStore

<div class="card">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identifier</th>
                    <th>Create Datetime</th>
                    <th>Active sessions</th>
                    <th>Subscribed Topics</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var client in Cls)
                {
                    <tr>
                        <td><a href="/clients/@client.ClientId/info">@client.ClientId</a></td>
                        <td>@client.CreateDateTime</td>
                        <td>@client.ActiveSessions.Count()</td>
                        <td>@client.Topics.Select(t => t.Name).Distinct().Count()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public IEnumerable<Client> Cls { get; set; } = new List<Client>();

    protected override Task OnInitializedAsync()
    {
        ServerState.SetItems(new List<BreadcrumbItem> { new BreadcrumbItem("Clients") });
        Cls = ClientStore.GetAll();
        return Task.CompletedTask;
    }
}