<form (ngSubmit)="onSave($event)" class="mt-10">
  <!-- Configuration parameters -->
  <div class="mb-10">
    <h3>{{ 'functions.configurationParameters' | translate }}</h3>
    <div *ngFor="let parameter of option?.Parameters">
      <function-rendering-component [option]="parameter" [form]="form"></function-rendering-component>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Input parameters -->
  <div class="mb-10">
    <h3>{{ 'functions.inputParameters' | translate }}</h3>
    <div class="form-control">
      <div class="title">{{ 'functions.input' | translate }}</div>
      <textarea [formControl]="inputForm" class="full-width"></textarea>
    </div>
    <button mat-raised-button color="primary">{{ 'functions.launch' | translate }}</button>
  </div>
  <mat-divider></mat-divider>
  <!-- Result -->
  <div>
    <h3>{{ 'functions.invokeResult' | translate }}</h3>
    <div class="form-control">
      <div class="title">{{ 'functions.result' | translate }}</div>
      <textarea disabled class="full-width">{{ output | json }}</textarea>
    </div>
  </div>
</form>
