<h1 mat-dialog-title>{{ 'vpn.add' | translate }}</h1>
<form [formGroup]="addVpnFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <!-- Name -->
    <div class="form-control">
      <div class="title">{{ 'vpn.name' | translate }}</div>
      <input formControlName="name" class="full-width" />
      <mat-error *ngIf="addVpnFormGroup.get('name')?.hasError('required')">
        {{ 'vpn.validations.nameRequired' | translate }}
      </mat-error>
    </div>
    <mat-divider></mat-divider>
    <!-- Description -->
    <div class="form-control">
      <div class="title">{{ 'vpn.description' | translate }}</div>
      <textarea formControlName="description" class="full-width"></textarea>
      <mat-error *ngIf="addVpnFormGroup.get('description')?.hasError('required')">
        {{ 'vpn.validations.descriptionRequired' | translate }}
      </mat-error>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!this.addVpnFormGroup.valid">{{ 'shared.create' | translate }}</button>
    <button mat-stroked-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
