$border-color: #d6d2d2;
$gutter-width: 10px;

.statediagram .editor {
  background-image: url('../../assets/images/tile.png');
  background-repeat: repeat;
  background-size: 30px 30px;
  user-select: none;
}

/* Wrapper & Pane */
.wrapper {
  display: flex;
}

.wrapper > .pane {
  min-width: 200px;
}

/* Toolbox */
.statediagram .toolbox {
  background-color: white;
  border-right: 1px solid $border-color;
  overflow: hidden;
}

.statediagram .toolbox .toolbox-item {
  cursor: pointer;
  user-select: none;
}

/* Toolbar */
.statediagram .toolbar > ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $border-color;
}

.statediagram .toolbar > ul > li {
  display: inline-block;
  border-right: 1px solid $border-color;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.statediagram .toolbar > ul > li.hidden {
  display: none;
}

.statediagram .toolbar > ul > li > .item, .statediagram .toolbar > ul > li > mat-icon {
  vertical-align: middle;
}

/* Properties */
.statediagram .wrapper .properties {
  position: relative;
  flex: auto;
}

.statediagram .wrapper .properties .container {
  margin-left: $gutter-width;
}

.statediagram .wrapper .properties .gutter {
  width: $gutter-width;
  height: 100%;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

/* Editor */
.statediagram .editor {
  overflow-x: auto;
}

.statediagram .editor.zoom {
  cursor: move;
}

.statediagram .editor.zoom .state {
    cursor: default !important;
}

.statediagram .editor .state {
  cursor: pointer;
}

.statediagram .editor .state .separator {
  stroke: #9370DB;
}

.statediagram .editor .state > rect {
  stroke: #9370DB;
  stroke-width: 1px;
  fill: #ECECFF;
  rx: 5px;
  ry: 5px;
}

.statediagram .editor .start.selected {
  fill: red;
}

.statediagram .editor .state .header {
  text-align: center;
  position: relative;
}

.statediagram .editor .state .header > .actions {
  position: absolute;
  right: 0px;
  top: 5px;
}

.statediagram .editor.zoom .state .header > .actions > mat-icon {
  color: #b4b1b1cc;
  cursor: unset;
}

.statediagram .editor .state .header > .actions > mat-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 16px;
}

.statediagram .editor .edgePaths > path {
  stroke: #333333;
  stroke-width: 1px;
}

.statediagram .editor .edgeLabel {
  width: 100%;
  height: 100%;
}

.statediagram .editor .edgeLabel > .textContainer {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  text-align: center;
}

.statediagram .editor .edgeLabel > .textContainer > .text {
  background-color: #ECECFF;
  padding: 5px;
}

.statediagram .editor .anchor {
  display: none;
}

.statediagram .editor .anchor.selected {
  display: block;
}

.statediagram .editor .anchor > .outer {
  fill: red;
}

.statediagram .editor .anchor > .inner {
  fill: white;
}

.statediagram .editor .draggableZone {
  width: 100%;
  height: 100%;
}
