$border-color: #d6d2d2;
$gutter-width: 10px;
$default-color: #ECECFF;
$red: red;
$orange: orange;

#container {
  position: relative;
  height: 100%;
}

.statediagram, #container {
  height: 100%;
}

.statediagram .editor {
  background-image: url('../../assets/images/tile.png');
  background-repeat: repeat;
  background-size: 30px 30px;
  user-select: none;
}

/* Wrapper & Pane */
.wrapper {
  display: flex;
  flex: auto;
}

.wrapper > .pane {
  min-width: 200px;
}

/* Toolbox */
.statediagram .toolbox {
  background-color: white;
  border-right: 1px solid $border-color;
  overflow: hidden;
}

.statediagram .toolbox .toolbox-item {
  cursor: pointer;
  user-select: none;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 10px;
  display: flex;
}

.statediagram .toolbox .toolbox-item .selector {
  width: 20px;
}

.statediagram .toolbox .toolbox-item .content {
  border-left: 1px solid #d6d2d2;
  padding: 10px 0px 10px 5px;
  flex: auto;
}

.statediagram .toolbox .toolbox-item .title {
  font-weight: bold;
}

.statediagram .toolbox .toolbox-item .description {
  color: rgb(127, 133, 140);
  font-size: 0.7em;
  font-weight: bold;
}

/* Toolbar */
.statediagram .toolbar > ul {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $border-color;
}

.statediagram .toolbar > ul > li {
  display: inline-block;
  border-right: 1px solid $border-color;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

.statediagram .toolbar > ul > li > .picture {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  display: inline-block;
}

.statediagram .toolbar > ul > li.hidden {
  display: none;
}

.statediagram .toolbar > ul > li > .item, .statediagram .toolbar > ul > li > mat-icon {
  vertical-align: middle;
}

/* Properties */
.statediagram .wrapper .properties {
  position: relative;
  flex: auto;
  width: 200px;
}

.statediagram .wrapper .properties .container {
  margin-left: $gutter-width;
}

.statediagram .wrapper .properties .gutter {
  width: $gutter-width;
  height: 100%;
  border-right: 1px solid $border-color;
  border-left: 1px solid $border-color;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

/* Editor */
.statediagram .editor {
  overflow-x: auto;
}

.statediagram .editor.zoom {
  cursor: move;
}

.statediagram .editor.zoom .state {
  cursor: default !important;
}

.statediagram .editor .state {
  cursor: pointer;
}

.statediagram .editor .state.selected {
  border-color: $red;
}

.statediagram .editor .state .separator {
  stroke: #9370DB;
}

.statediagram .editor .state.COMPLETE > rect {
  stroke: green;
  fill: #a1f2a1;
  stroke-width: 1px;
}

.statediagram .editor .state.COMPLETE .separator {
  stroke: green;
}

.statediagram .editor .state > rect {
  stroke: #9370DB;
  stroke-width: 1px;
  fill: $default-color;
  rx: 5px;
  ry: 5px;
}

.statediagram .editor .token div {
  background-color: $default-color;
  border-radius: 5px;
  text-align: center;
  height: 100%;
  cursor: pointer;
}

.statediagram .editor .state > rect.selected {
  stroke: $red !important;
}

.statediagram .editor .start.selected {
  fill: $red;
}

.statediagram .editor .state .header {
  text-align: center;
  position: relative;
}

.statediagram .editor .state .header > .actions {
  position: absolute;
  right: 0px;
  top: 5px;
}

.statediagram .editor.zoom .state .header > .actions > mat-icon {
  color: #b4b1b1cc;
  cursor: unset;
}

.statediagram .editor .state .header > .actions > mat-icon {
  width: 16px;
  height: 16px;
  cursor: pointer;
  font-size: 16px;
}

.statediagram .editor .edgePaths > path {
  stroke: #333333;
  stroke-width: 1px;
}

.statediagram .editor .edgePaths > path.isDefault, #statediagram-barbEndDefault > path {
  stroke: $orange;
}

#statediagram-barbEndDefault > path {
  fill: $orange;
}

.statediagram .editor .edgeLabel > .textContainer {
  text-align: center;
}

.statediagram .editor .edgeLabel > .textContainer > .text {
  background-color: $default-color;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}


.statediagram .editor .edgeLabel > .textContainer > .text > span {
  pointer-events: none;
}

.statediagram .editor .edgeLabel.selected > .textContainer > .text {
  background-color: red;
}

.statediagram .editor .anchor {
  display: none;
}

.statediagram .editor .anchor.selected {
  display: block;
}

.statediagram .editor .anchor > .outer {
  fill: $red;
}

.statediagram .editor .anchor > .inner {
  fill: white;
}

.statediagram .editor .draggableZone {
  width: 100%;
  height: 100%;
}

.secondColumn {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}

.secondColumn.full {
  max-width: 100% !important;
}
