<h1 mat-dialog-title>Actions Editor</h1>
<div mat-dialog-content>
  <div fxLayout="row">
    <div fxFlex="50%" class="firstColumn">
      <form [formGroup]="addActionFormGroup" (ngSubmit)="addAction()">
        <!-- Name -->
        <div class="form-control">
          <div class="title">Name</div>
          <p class="description">Action name</p>
          <input type="text" formControlName="name" class="full-width" />
          <mat-error *ngIf="addActionFormGroup.get('name')?.errors?.required">
            {{ 'functions.nameRequired' | translate }}
          </mat-error>
        </div>
        <mat-divider></mat-divider>
        <!-- Use the results -->
        <div class="form-control">
          <div class="title">Use results</div>
          <p class="description">Use the operation results.</p>
          <select formControlName="useResults" class="full-width">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="addActionFormGroup.get('useResults')?.value == 'true'">
          <!-- Results -->
          <div class="form-control">
            <div class="title">Filter data results</div>
            <p class="description">Workflow expression that filters the actions data result</p>
            <input (click)="editResults()" formControlName="results" type="text" class="condition full-width" readonly />
          </div>
          <mat-divider></mat-divider>
          <!-- ToStateData -->
          <div class="form-control">
            <div class="title">Select state data element</div>
            <p class="description">Workflow expression that selects a state data element to which the action results should be added/merged into</p>
            <input (click)="editToStateData()" formControlName="toStateData" type="text" class="condition full-width" readonly />
          </div>
          <mat-divider></mat-divider>
        </div>
        <!-- Type -->
        <div class="form-control">
          <div class="title">Type</div>
          <p class="description">Select the type of action</p>
          <select formControlName="type" class="full-width">
            <option value="1">Function</option>
          </select>
        </div>
        <mat-divider></mat-divider>
        <div *ngIf="addActionFormGroup.get('type')?.value == 1" [formGroup]="addFunctionFormGroup">
          <!-- Reference Name -->
          <div class="form-control">
            <div class="title">Reference Name</div>
            <p class="description">Name of the references function</p>
            <select formControlName="refName" class="full-width">
              <option *ngFor="let function of functions" [value]="function.name">{{ function.name + ' (' + function.type + ')'}}</option>
            </select>
            <mat-error *ngIf="addFunctionFormGroup.get('refName')?.errors?.required">A function must be selected</mat-error>
          </div>
          <mat-divider></mat-divider>
          <!-- Arguments -->
          <div class="form-control">
            <div class="title">Arguments</div>
            <p class="description">Arguments (inputs) to be passed to the referenced function.</p>
            <input type="text" formControlName="arguments" class="full-width" />
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="mt-10">
          <button mat-raised-button color="primary" [disabled]="isDisabled()">Add</button>
        </div>
      </form>
    </div>
    <div fxFlex="50%" class="secondColumn">
      <mat-table class="full-width" [dataSource]="actions">
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let action; let i = index;">
            <button mat-icon-button (click)="removeAction(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let action">
            {{ action.name }}
          </mat-cell>
        </ng-container>
        <!-- Description -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let action">
            {{ getType(action) }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
