<div class="panel-content">
  <h1>Actions</h1>
  <div class="body">
    <div class="mat-elevation-z8 overflow-hidden">
      <mat-table class="full-width" [dataSource]="actions">
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="addAction()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let action; let i = index;">
            <button mat-icon-button (click)="removeAction(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="editAction(action, i)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let action">
            {{ action.name }}
          </mat-cell>
        </ng-container>
        <!-- Description -->
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let action">
            {{ getType(action) }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
