.panel {
  position: fixed;
  right: 0;
  top: 0;
  border: 0;
  left: 0;
  bottom: 0;
  z-index: 20;
  transition: background-color .5s;
  background-color: rgba(0,0,0,.3);
}

.panel:not(.displayed) {
  visibility: hidden;
  background-color: transparent;
  transition: background-color .5s,visibility 0s .5s;
}

.panel > .content {
  transition: right .5s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  background-color: white;
  padding: 20px;
}

.panel:not(.displayed) > .content {
  right: -80%;
}

.panel .close {
  position: absolute;
  right: 0px;
  top: 10px;
  cursor: pointer;
}
