<div class="@ClassName">
	<div class="header">
		<h5>@Title</h5>
		<div class="actions">
			<i class="fa-solid fa-xmark" @onclick="() => Close()"></i>
		</div>
	</div>
	@ChildContent
</div>

@code {
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	public string ClassName { get; set; }

	public void Open()
	{
		ClassName = "panel show";
	}

	public void Close() 
	{
		ClassName = "panel";
	}
}