.panel {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border: 0;
    display: none;
}

.panel.show {
    display: block;
}

.panel .header {
    position: relative;
    padding: 0px 0px 2px 5px;
    background-color: #e9ecef;
}

.panel .header .actions {
    position: absolute;
    top: 2px;
    right: 5px;
}