.information {
    padding: 10px;
}

.stopped {
    background-color: red !important;
    color: white !important;
}

.running {
    background-color: green !important;
    color: white !important;
}
