<div class="breadcrumb">
  <ul>
    <li><a [routerLink]="['/statemachines']">{{ "stateMachines.list" | translate }}</a></li>
    <li class="separator">\</li>
    <li>{{ stateMachineDef.name }}</li>
  </ul>
</div>
<div class="actions">
  <ul class="stateMachineActions">
    <li>
      <button mat-raised-button color="primary"  [matTooltip]="getTooltip()" (click)="update()" [disabled]="action == 'messages' || action == 'functions' || action == 'yaml' || action == 'json'"><mat-icon>update</mat-icon>Update</button>
    </li>
    <li>
      <button mat-raised-button (click)="launch()"><mat-icon>launch</mat-icon>Launch</button>
    </li>
  </ul>
  <div class="spacer"></div>
  <ul class="navigation">
    <li [class.active]="action == 'info'"><a [routerLink]="['/statemachines/' + id + '/info']" matTooltip="View information"><mat-icon>info</mat-icon></a></li>
    <li [class.active]="action == 'messages'" *ngIf="stateMachineDef.applicationDomainId"><a [routerLink]="['/statemachines/' + id + '/messages']" matTooltip="Edit Messages"><mat-icon>message</mat-icon></a></li>
    <li [class.active]="action == 'asyncapi'" *ngIf="stateMachineDef.applicationDomainId"><a [routerLink]="['/statemachines/' + id + '/asyncapi']" matTooltip="Edit ASYNCAPI"><img src="/assets/images/asyncapi.svg" /></a></li>
    <li [class.active]="action == 'functions'"><a [routerLink]="['/statemachines/' + id + '/functions']" matTooltip="Edit the functions"><mat-icon>functions</mat-icon></a></li>
    <li [class.active]="action == 'yaml'"><a [routerLink]="['/statemachines/' + id + '/yaml']" matTooltip="Display YAML"><mat-icon>insert_drive_file</mat-icon></a></li>
    <li [class.active]="action == 'json'"><a [routerLink]="['/statemachines/' + id + '/json']" matTooltip="Display JSON"><img src="/assets/images/json.png" /></a></li>
    <li [class.active]="action == 'workflow'"><a [routerLink]="['/statemachines/' + id + '/workflow']" matTooltip="Edit the workflow"><mat-icon>account_tree</mat-icon></a></li>
  </ul>
</div>
<loader *ngIf="isLoading"></loader>
<div class="edit">
  <display-state-machine-info [stateMachine]="stateMachineDef" *ngIf="action == 'info'"></display-state-machine-info>
  <state-diagram [stateMachine]="stateMachineDef" [style.visibility]="action == 'workflow' ? 'visible': 'hidden'"></state-diagram>
  <display-state-machine-json [stateMachine]="stateMachineDef" *ngIf="action === 'json'"></display-state-machine-json>
  <display-state-machine-yaml [stateMachine]="stateMachineDef" *ngIf="action === 'yaml'"></display-state-machine-yaml>
  <edit-functions-statemachine [stateMachine]="stateMachineDef" *ngIf="action === 'functions'"></edit-functions-statemachine>
  <messageseditor-statemachine [appDomainId]="stateMachineDef.applicationDomainId" *ngIf="action === 'messages'"></messageseditor-statemachine>
  <asyncapieditor-statemachine #asyncApiEditor [stateMachine]="stateMachineDef" [style.visibility]="action == 'asyncapi' ? 'visible': 'hidden'"></asyncapieditor-statemachine>
</div>
