<h1 mat-dialog-title>{{ 'applicationDomains.add' | translate }}</h1>
<form [formGroup]="addApplicationDomainFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <!-- Name -->
    <div class="form-control">
      <div class="title">{{ 'applicationDomains.name' | translate }}</div>
      <input formControlName="name" class="full-width" />
      <mat-error *ngIf="addApplicationDomainFormGroup.get('name')?.hasError('required')">
        {{ 'applicationDomains.validations.nameRequired' | translate }}
      </mat-error>
    </div>
    <mat-divider></mat-divider>
    <!-- Description -->
    <div class="form-control">
      <div class="title">{{ 'applicationDomains.description' | translate }}</div>
      <textarea formControlName="description" class="full-width"></textarea>
      <mat-error *ngIf="addApplicationDomainFormGroup.get('description')?.hasError('required')">
        {{ 'applicationDomains.validations.descriptionRequired' | translate }}
      </mat-error>
    </div>
    <mat-divider></mat-divider>
    <!-- RootTopic -->
    <div class="form-control">
      <div class="title">{{ 'applicationDomains.rootTopic' | translate }}</div>
      <textarea formControlName="rootTopic" class="full-width"></textarea>
      <mat-error *ngIf="addApplicationDomainFormGroup.get('rootTopic')?.hasError('required')">
        {{ 'applicationDomains.validations.rootTopicRequired' | translate }}
      </mat-error>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" [disabled]="!this.addApplicationDomainFormGroup.valid">{{ 'shared.create' | translate }}</button>
    <button mat-stroked-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
