<div class="breadcrumb">
  <ul>
    <li>{{ "applicationDomains.list" | translate }}</li>
  </ul>
</div>
<div class="actions">
  <button mat-raised-button color="primary" (click)="addApplicationDomain()">{{ 'applicationDomains.add' | translate }}</button>
</div>
<div class="container">
  <div class="mat-elevation-z8 overflow-hidden">
    <mat-table class="full-width" [dataSource]="applicationDomains" matSortActive="createDateTime">
      <!-- Name -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{ "applicationDomains.name" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let applicationDomain">
          <a href="#" [routerLink]="['/domains/' + applicationDomain.id + '/editor']">{{ applicationDomain.name }}</a>
        </mat-cell>
      </ng-container>
      <!-- Description -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>{{ "applicationDomains.description" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let applicationDomain">
          {{ applicationDomain.description }}
        </mat-cell>
      </ng-container>
      <!-- RootTopic -->
      <ng-container matColumnDef="version">
        <mat-header-cell *matHeaderCellDef>{{ "applicationDomains.rootTopic" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let applicationDomain">
          {{ applicationDomain.rootTopic }}
        </mat-cell>
      </ng-container>
      <!-- Create DateTime -->
      <ng-container matColumnDef="createDateTime">
        <mat-header-cell *matHeaderCellDef>{{ "applicationDomains.createDateTime" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let applicationDomain">
          {{ applicationDomain.createDateTime | date:'fullDate' }}
        </mat-cell>
      </ng-container>
      <!-- Update DateTime -->
      <ng-container matColumnDef="updateDateTime">
        <mat-header-cell *matHeaderCellDef>{{ "applicationDomains.updateDateTime" | translate }}</mat-header-cell>
        <mat-cell *matCellDef="let applicationDomain">
          {{ applicationDomain.updateDateTime | date:'fullDate' }}
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
<loader *ngIf="isLoading"></loader>
