@using FaasNet.EventMesh.UI.Shared.Common
@using FaasNet.EventMesh.UI.Stores.App
@using FaasNet.EventMesh.UI.Stores.Client
@using Fluxor
@using Fluxor.Blazor.Web.Components
@using FaasNet.EventMesh.UI.Shared.Components

@inherits FluxorComponent
<Panel Title="Choose a client" @ref="panel">
    <!-- Select an existing client -->
    <div class="card">
        <div class="card-header">
            Select an existing client
        </div>
        <div class="card-body">
            <Clients Vpn="@Vpn"></Clients>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            Add a client
        </div>
        <div class="card-body">
            <AddClient Vpn="@Vpn"></AddClient>
        </div>
    </div>
    <div>
        <button type="button" class="btn btn-primary">Confirm</button>
    </div>
</Panel>

@code {
    [Parameter] public EventCallback<AddClientResultAction> ClientAdded { get; set; }
    [Parameter] public string Vpn { get; set; } = null!;
    public Panel panel;

    public void Open()
    {
        panel.Open();
    }

    public void Close()
    {
        panel.Close();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }
}