#linkProperties {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#actions {
    display: inline-block;
}

#actions > .btn {
    margin-right: 5px;
}

#jsonContainer, #jsonEventDefinition, #sampleEventDefinition {
    flex-grow: 1;
}

#jsonContainer > div {
    display: flex;
    flex-direction: column;
}