<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Functions</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="mat-elevation-z8 overflow-hidden">
        <mat-table class="full-width" [dataSource]="functions">
          <!-- Actions -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>
              <button mat-icon-button (click)="addFunction()">
                <mat-icon>add</mat-icon>
              </button>
            </mat-header-cell>
            <mat-cell *matCellDef="let function; let i = index;">
              <button mat-icon-button (click)="deleteFunction(i)">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button (click)="editFunction(function, i)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <!-- Name -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>
              {{ "functions.name" | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let function;">
              {{ function.name }}
            </mat-cell>
          </ng-container>
          <!-- Type -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let function">
              {{ function.type }}
            </mat-cell>
          </ng-container>
          <!-- Operation -->
          <ng-container matColumnDef="operation">
            <mat-header-cell *matHeaderCellDef>Operation</mat-header-cell>
            <mat-cell *matCellDef="let function">
              {{ function.operation }}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></mat-row>
        </mat-table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
