<h1 mat-dialog-title>{{ 'apis.add' | translate }}</h1>
<form [formGroup]="addApiDefFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <!-- Name -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'apis.name' | translate }}</mat-label>
      <input matInput formControlName="name" />
      <mat-error *ngIf="addApiDefFormGroup.get('name')?.hasError('required')">
        {{ 'apis.nameRequired' | translate }}
      </mat-error>
    </mat-form-field>
    <!-- Path -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'apis.path' | translate }}</mat-label>
      <input matInput formControlName="path" />
      <mat-error *ngIf="addApiDefFormGroup.get('path')?.hasError('required')">
        {{ 'apis.pathRequired' | translate }}
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary">{{ 'shared.create' | translate }}</button>
    <button mat-button color="warn" mat-dialog-close>{{ 'shared.close' | translate }}</button>
  </div>
</form>
