<h1 mat-dialog-title>Add/Edit message</h1>
<form class="form" [formGroup]="editLinkFormGroup" (ngSubmit)="save()">
  <div mat-dialog-content>
    <!-- Name -->
    <div class="form-control">
      <div class="title">Name</div>
      <div class="description">Name of the message</div>
      <input type="text" class="full-width" formControlName="name" />
      <mat-error *ngIf="editLinkFormGroup.get('name')?.hasError('required')">
        Name is required
      </mat-error>
    </div>
    <!-- JSON Schema -->
    <div class="form-control">
      <div class="title">JSON Schema</div>
      <p class="description">Used to validate JSON message.</p>
      <ngx-monaco-editor [options]="jsonOptions" formControlName="payload"></ngx-monaco-editor>
      <mat-error *ngIf="editLinkFormGroup.get('payload')?.hasError('required')">
        JSON Schema is required
      </mat-error>
      <mat-error *ngIf="editLinkFormGroup.get('payload')?.hasError('jsonInvalid')">
        JSON Schema must be a valid JSON
      </mat-error>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="!editLinkFormGroup.valid">Save</button>
  </div>
</form>
