<div class="panel-content">
  <h1>Messages</h1>
  <div class="body">
    <div class="mat-elevation-z8 overflow-hidden">
      <mat-table class="full-width" [dataSource]="evts">
        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>
            <button mat-icon-button (click)="addEvent()">
              <mat-icon>add</mat-icon>
            </button>
          </mat-header-cell>
          <mat-cell *matCellDef="let evt; let i = index;">
            <button mat-icon-button (click)="removeEvent(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <button mat-icon-button (click)="editEvent(evt, i)">
              <mat-icon>edit</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <!-- Name -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let evt">
            {{ evt.name }}
          </mat-cell>
        </ng-container>
        <!-- Title -->
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>title</mat-header-cell>
          <mat-cell *matCellDef="let evt">
            {{ evt.payload?.title  }}
          </mat-cell>
        </ng-container>
        <!-- Description -->
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
          <mat-cell *matCellDef="let evt">
            {{ evt.payload?.description  }}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
