<h2 class="property-title">
  Link
  <span (click)="close()">
    <mat-icon>close</mat-icon>
  </span>
</h2>
<mat-divider></mat-divider>
<div class="form-control messages">
  <div class="title">Message</div>
  <p class="description">Select a message</p>
  <div (click)="editMessage()">
    <input type="text" [value]="getMessage()" class="full-width" disabled />
  </div>
</div>
<mat-divider></mat-divider>
<div class="form-control">
  <div class="title">Topic</div>
  <p class="description">Enter the name of the topic</p>
  <input type="text" [formControl]="topicFormControl" class="full-width" />
</div>
