<div class="panel-content">
  <h1>Functions Editor</h1>
  <div class="body">
    <div fxLayout="row" fxFlex="auto">
      <div fxFlex="50%" class="firstColumn column">
        <form [formGroup]="editFunctionFormGroup" (ngSubmit)="addFunction()">
          <!-- Name -->
          <div class="form-control">
            <div class="title">Name</div>
            <p class="description">Name of the function</p>
            <input type="text" formControlName="name" class="full-width" />
            <mat-error *ngIf="editFunctionFormGroup.get('name')?.errors?.required">Name is required</mat-error>
          </div>
          <mat-divider></mat-divider>
          <!-- Type -->
          <div class="form-control">
            <div class="title">Type</div>
            <p class="description">Select the type of function</p>
            <select formControlName="type" class="full-width">
              <option value="rest">RESTful service invocation</option>
              <option value="kubernetes">Serverless function invocation</option>
            </select>
            <mat-error *ngIf="editFunctionFormGroup.get('type')?.errors?.required">{{ 'functions.typeRequired' | translate }}</mat-error>
          </div>
          <div *ngIf="editFunctionFormGroup.get('type')?.value == 'rest'">
            <mat-divider></mat-divider>
            <!-- Operation -->
            <div class="form-control">
              <div class="title">Operation</div>
              <p class="description">{{ getOperationTranslationKey() }}</p>
              <input type="text" formControlName="operation" class="full-width" />
            </div>
          </div>
          <div *ngIf="editFunctionFormGroup.get('type')?.value == 'kubernetes'" [formGroup]="editKubernetesFormGroup">
            <mat-divider></mat-divider>
            <!-- Image -->
            <div class="form-control">
              <div class="title">Image</div>
              <p class="description">Docker image</p>
              <input type="text" formControlName="image" class="full-width" />
              <mat-error *ngIf="editKubernetesFormGroup.get('image')?.errors?.required">Image is required</mat-error>
            </div>
            <!-- Version -->
            <div class="form-control">
              <div class="title">Version</div>
              <p class="description">Docker version</p>
              <input type="text" formControlName="version" class="full-width" />
              <mat-error *ngIf="editKubernetesFormGroup.get('version')?.errors?.required">Version is required</mat-error>
            </div>
            <mat-divider></mat-divider>
            <!-- Configuration -->
            <div class="form-control">
              <div class="title">Configuration</div>
              <p class="description">Configuration passed to the serverless function</p>
              <ngx-monaco-editor [options]="jsonOptions" formControlName="configuration"></ngx-monaco-editor>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-raised-button color="primary" [disabled]="!editFunctionFormGroup.valid" class="mt-10">{{ edit ? 'Update' : 'Add' }}</button>
        </form>
      </div>
      <div fxFlex="50%" class="secondColumn">
        <div class="mat-elevation-z8 overflow-hidden">
          <mat-table class="full-width" [dataSource]="functions">
            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let function; let i = index;">
                <button mat-icon-button (click)="deleteFunction(i)">
                  <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editFunction(function, i)">
                  <mat-icon>edit</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- Name -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>
                {{ "functions.name" | translate }}
              </mat-header-cell>
              <mat-cell *matCellDef="let function;">
                {{ function.name }}
              </mat-cell>
            </ng-container>
            <!-- Type -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
              <mat-cell *matCellDef="let function">
                {{ function.type }}
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" [ngClass]="{'highlight': isSelected(i) }"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
